# Dates e Timestamps

Você frequentemente se pegará trabalhando com informações de data e hora, vamos ver algumas maneiras de lidar com isso!

In [1]:
from pyspark.sql import SparkSession
# Pode demorar um pouco em um computador local
spark = SparkSession.builder.appName("dates").getOrCreate()

In [3]:
df = spark.read.csv("appl_stock.csv",header=True,inferSchema=True)

In [4]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    :param path: string, or list of strings, for input path(s),
                 or RDD of Strings storing CSV rows.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema
                   or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param sep: sets a single character as a separator for each field and value.
                If None is set, it uses the default value, ``,``.
    :param encoding: decodes the CSV files by the given encoding type. If None is set,
                     it uses the default value, ``UTF-8``.
    :param quote: sets a single character used for escaping quoted values where the
                  separator can be part of the value. If None is set, it uses the default
                  value, ``"``. If you would like to turn off quotations, you need to set an
                  empty string.
    :param escape: sets a single character used for escaping quotes inside an already
                   quoted value. If None is set, it uses the default value, ``\``.
    :param comment: sets a single character used for skipping lines beginning with this
                    character. By default (None), it is disabled.
    :param header: uses the first line as names of columns. If None is set, it uses the
                   default value, ``false``.
    :param inferSchema: infers the input schema automatically from data. It requires one extra
                   pass over the data. If None is set, it uses the default value, ``false``.
    :param enforceSchema: If it is set to ``true``, the specified or inferred schema will be
                          forcibly applied to datasource files, and headers in CSV files will be
                          ignored. If the option is set to ``false``, the schema will be
                          validated against all headers in CSV files or the first header in RDD
                          if the ``header`` option is set to ``true``. Field names in the schema
                          and column names in CSV headers are checked by their positions
                          taking into account ``spark.sql.caseSensitive``. If None is set,
                          ``true`` is used by default. Though the default value is ``true``,
                          it is recommended to disable the ``enforceSchema`` option
                          to avoid incorrect results.
    :param ignoreLeadingWhiteSpace: A flag indicating whether or not leading whitespaces from
                                    values being read should be skipped. If None is set, it
                                    uses the default value, ``false``.
    :param ignoreTrailingWhiteSpace: A flag indicating whether or not trailing whitespaces from
                                     values being read should be skipped. If None is set, it
                                     uses the default value, ``false``.
    :param nullValue: sets the string representation of a null value. If None is set, it uses
                      the default value, empty string. Since 2.0.1, this ``nullValue`` param
                      applies to all supported types including the string type.
    :param nanValue: sets the string representation of a non-number value. If None is set, it
                     uses the default value, ``NaN``.
    :param positiveInf: sets the string representation of a positive infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param negativeInf: sets the string representation of a negative infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at ``java.text.SimpleDateFormat``. This
                       applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format. Custom date
                            formats follow the formats at ``java.text.SimpleDateFormat``.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss.SSSXXX``.
    :param maxColumns: defines a hard limit of how many columns a record can have. If None is
                       set, it uses the default value, ``20480``.
    :param maxCharsPerColumn: defines the maximum number of characters allowed for any given
                              value being read. If None is set, it uses the default value,
                              ``-1`` meaning unlimited length.
    :param maxMalformedLogPerPartition: this parameter is no longer used since Spark 2.2.0.
                                        If specified, it is ignored.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``.

            * ``PERMISSIVE`` : when it meets a corrupted record, puts the malformed string \
              into a field configured by ``columnNameOfCorruptRecord``, and sets other \
              fields to ``null``. To keep corrupt records, an user can set a string type \
              field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a \
              schema does not have the field, it drops corrupt records during parsing. \
              A record with less/more tokens than schema is not a corrupted record to CSV. \
              When it meets a record having fewer tokens than the length of the schema, \
              sets ``null`` to extra fields. When the record has more tokens than the \
              length of the schema, it drops extra tokens.
            * ``DROPMALFORMED`` : ignores the whole corrupted records.
            * ``FAILFAST`` : throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param multiLine: parse records, which may span multiple lines. If None is
                      set, it uses the default value, ``false``.
    :param charToEscapeQuoteEscaping: sets a single character used for escaping the escape for
                                      the quote character. If None is set, the default value is
                                      escape character when escape and quote characters are
                                      different, ``\0`` otherwise.
    :param samplingRatio: defines fraction of rows used for schema inferring.
                          If None is set, it uses the default value, ``1.0``.
    :param emptyValue: sets the string representation of an empty value. If None is set, it uses
                       the default value, empty string.

    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

    .. versionadded:: 2.0

In [5]:
df.show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

Vamos ver como obter partes dos dados do carimbo de data / hora

In [6]:
from pyspark.sql.functions import format_number,dayofmonth,hour,dayofyear,month,year,weekofyear,date_format

In [7]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [8]:
df.select(hour(df['Date'])).show()

+----------+
|hour(Date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 20 rows

In [9]:
df.select(dayofyear(df['Date'])).show()

+---------------+
|dayofyear(Date)|
+---------------+
|              4|
|              5|
|              6|
|              7|
|              8|
|             11|
|             12|
|             13|
|             14|
|             15|
|             19|
|             20|
|             21|
|             22|
|             25|
|             26|
|             27|
|             28|
|             29|
|             32|
+---------------+
only showing top 20 rows

In [10]:
df.select(month(df['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

Por exemplo, digamos que quiséssemos saber o preço médio de fechamento por ano. Fácil! Com uma chamada de função groupby e year ():

In [11]:
df.select(year(df['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

In [15]:
df.withColumn("Year",year(df['Date'])).show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+----+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|Year|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+----+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|2010|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|2010|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|2010|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|2010|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|2010|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|2010|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|2010|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|2010|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|2010|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|2010|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|2010|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|2010|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|2010|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|2010|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|2010|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|2010|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|2010|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|2010|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|2010|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|2010|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+----+
only showing top 20 rows

In [11]:
newdf = df.withColumn("Year",year(df['Date']))
newdf.groupBy("Year").mean()[['avg(Year)','avg(Close)']].show()

+---------+------------------+
|avg(Year)|        avg(Close)|
+---------+------------------+
|   2015.0|120.03999980555547|
|   2013.0| 472.6348802857143|
|   2014.0| 295.4023416507935|
|   2012.0| 576.0497195640002|
|   2016.0|104.60400786904763|
|   2010.0| 259.8424600000002|
|   2011.0|364.00432532142867|
+---------+------------------+

Ainda não está muito apresentável! Vamos usar o método .alias e também round () para limpar isso!

In [16]:
result = newdf.groupBy("Year").mean()[['avg(Year)','avg(Close)']]
result = result.withColumnRenamed("avg(Year)","Year")
result = result.select('Year',format_number('avg(Close)',2).alias("Mean Close")).show()

+------+----------+
|  Year|Mean Close|
+------+----------+
|2015.0|    120.04|
|2013.0|    472.63|
|2014.0|    295.40|
|2012.0|    576.05|
|2016.0|    104.60|
|2010.0|    259.84|
|2011.0|    364.00|
+------+----------+