In [1]:
# Antes de aplicar os algoritmos mllib do spark precisamos tratar os dados
# apesasr dos exemplos serem com arquivos pequenos os comandos que usamos funcionam para conjuntos de dados maiores
# Uma das etapas é tratar dados ausentes

In [2]:
# Primeiro importar biblioteca

In [3]:
from pyspark.sql import SparkSession

In [7]:
# Para começar a trabalhar preciso do Contexto do Spark
# Não executar esta linha duas vezes
contexo = SparkSession.builder.appName("dadosAusentes").getOrCreate()

In [8]:
# Você clica no link Spark UI 
# aperta CTRL e o botão direito do mouse
contexo

In [6]:
# Vamos ler um dataset

In [13]:
dados_bigdata = contexo.read.csv("ContainsNull.csv", header=True, inferSchema=True)

In [15]:
dados_bigdata.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
dados_bigdata.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [20]:
dados_bigdata.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [24]:
dados_bigdata.na.fill('XPTO').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| XPTO| null|
|emp3| XPTO|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [25]:
dados_bigdata.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [34]:
from pyspark.sql.functions import mean

media = dados_bigdata.select(mean(dados_bigdata['Sales'])).collect()

media = media[0][0]

media

400.5

In [37]:
dados_bigdata.na.fill(media, ['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [39]:
dados_bigdata.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [46]:
# Quero limpar apenas os dados ausentes da coluna Sales

# Exemplo parecido com o do titanic

lista1 = dados_bigdata.na.drop(subset=["Sales"])
lista2 = lista1.na.fill('Titanic')

lista2.show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp3|Titanic|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+